.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  height: 70%;
  width: 75%;
}

.close-btn {
  display: flex;
  justify-content: end;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.button{
    background: rgb(149, 149, 249);
    padding: 10px 20px;
    border-radius: 15px;
    margin: 5px;
    border: rgb(149, 149, 249);
    cursor: pointer;
}

.user__input{
  padding: 5px;
  width: 80%;
}

@media (max-width: 1440px) {
    .modal-content {
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        height: 80%;
        width: 75%;
      }

}

@media (max-width: 1024px) {
    .modal-content {
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        height: 80%;
        width: 75%;
      }

}

@media (max-width: 768px) {
    .modal-content {
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        height: 80%;
        width: 75%;
      }

}

@media (max-width: 500px) {
    .modal-content {
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        height: 55%;
        width: 75%;
      }
}
